absl-py==2.1.0
cachetools==5.3.3
contourpy==1.1.1
cycler==0.12.1
easydict==1.12
filelock==3.13.1
fonttools==4.49.0
fsspec==2024.2.0
ftfy==6.1.3
google-auth==2.28.1
google-auth-oauthlib==1.0.0
grpcio==1.62.0
huggingface-hub==0.21.3
importlib-metadata==7.0.1
importlib_resources==6.1.2
joblib==1.3.2
kiwisolver==1.4.5
Markdown==3.5.2
MarkupSafe==2.1.5
matplotlib==3.7.5
mkl-service==2.4.0
nvidia-ml-py==12.535.133
nvitop==1.3.2
oauthlib==3.2.2
opencv-python==4.9.0.80
packaging==23.2
protobuf==4.25.3
psutil==5.9.8
pyasn1==0.5.1
pyasn1-modules==0.3.0
pyparsing==3.1.1
python-dateutil==2.8.2
PyYAML==6.0.1
regex==2023.12.25
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==1.3.2
scipy==1.10.1
six==1.16.0
tensorboard==2.14.0
tensorboard-data-server==0.7.2
termcolor==2.4.0
threadpoolctl==3.3.0
tqdm==4.66.2
wcwidth==0.2.13
Werkzeug==3.0.1
yacs==0.1.8
zipp==3.17.0
